/* src/LoginPage.css */
/* .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('E:\Visuals for Project471\ReactNew\tourist\public\hell.jpg');
    background-size: cover;
    background-position: center;
} */

.login-container {
    background-color: rgba(250, 235, 215, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color:#45a049
}

.login-container form {
    display: flex;
    flex-direction: column;
    
}

.login-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #38a13d;
}
